.page {
  min-height: 100vh;
  background: white;
  margin-bottom: 500px;
  z-index: 1;
}

.pagemargin {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 90%;
  margin: 100px auto;
}

.pagemargin .text {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  margin: 50px auto;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .page {
    margin-bottom: 600px;
  }
}
