.logos {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.certified-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.certified-img img {
  margin: 20px;
  width: 500px;
}

@media only screen and (max-width: 600px) {
  .certified-img img {
    width: 350px;
    margin: 10px auto;
  }
}
